header{
    background-color: darkgray;
    text-align: center;
}

.skills
{
    background-color: darkorange;
}

body{
    margin: 0em;
}

h1{
    margin: 0em;
    font-size: 48px;
}
h2
{
    font-size: 36px;
}
h3{
    font-size: 28px;
}
.columns{
    display: flex;

}
.column{
    margin: 10px;
}